
$Drawer-width: 250px;
$Drawer-zindex: 2000;
$Drawer-bgcolor: #f6f6f6;


.qm-Drawer {
    box-sizing: border-box !important;
    position: fixed !important;
    left:0 !important;
    top:0 !important;
    bottom:0 !important;
    width: $Drawer-width !important;
    overflow-y: auto !important;
    overflow-x: hidden !important;
    z-index: $Drawer-zindex !important;
    backface-visibility: hidden !important;
    background-color: $Drawer-bgcolor !important;
    /* to be reused as a mixin */
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2) !important;

    transform: translateX(-101%) !important;
    will-change: transform !important;
    /*transition: transform 0.6s easeOutQuad;*/
    transition: transform 0.3s cubic-bezier(0.5, 1, 0.89, 1) !important;
}
.qm-Drawer.qm-Drawer--right {
    left:auto !important;
    right:0 !important;
    transform: translateX(101%) !important;
}
.qm-Drawer.is-open {
    transform: translateX(0) !important;
}
